<section class=book-edit>
  <div class=book-edit-forms>
    <form class="first-edit-form" action="/update/<%= oneBook.id %>?_method=PUT" method="post">
      <label for="title">Title:
        <input type="text" name="title" value="<%= oneBook.title %>">
      </label>
      <label for="authors">Author(s):
        <input type="text" name="authors" value="<%= oneBook.authors %>">
      </label>
      <label for="description">Description:
        <textarea name="description"><%= oneBook.description %></textarea>
      </label>
      <label for="category">Category:
        <input type="text" name="category" value="<%= oneBook.category %>">
      </label>
      <button type="submit">Update the Details of this Book</button>
    </form>
    <form action="/delete/<%= oneBook.id %>?_method=DELETE" method="post">
      <button type="submit">Remove this Book from the Shelf</button>
    </form>
  </div>
</section>
